<!doctype html>
<html lang="en">

<head>
	<title>Charts | Klorofil - Free Bootstrap Dashboard Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/static/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/static/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon.png">
	<!-- plotly-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="/static/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="/charts" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index.html" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
						<li><a href="charts" class="active"><i class="lnr lnr-chart-bars"></i> <span>Detail_page</span></a></li>
						<li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
						<li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>이상알림</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									{% for item in bar_lis %}
										{% set val = item[0] %}
										{% set i_s = item[1] %}
										{% set i_e = item[2] %}
										<li><a href="/charts?time={{val}}&xlim_s={{i_s}}&xlim_e={{i_e}}" class="">이상근접구간 : {{val}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</li>
						<li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
						<li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
						<li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">Detail_page</h3>

                    {% for val in cols %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{val[1]}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="demo-chart{{val[0]}}" class="ct-chart"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{val[2]}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="demo-chart{{val[0] + 1}}" class="ct-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
					{% endfor %}
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/vendor/chartist/js/chartist.min.js"></script>
	<script src="/static/scripts/klorofil-common.js"></script>

	<!-- ChartJavascript -->
	<div id="line-chart"></div>
	<script>
	$(function() {
		// 이상구간 rect
		{% set rect_shape_lis = [] %}

		{% for rect_lis in bar_lis %}
			{% set i_s = rect_lis[1] %}
			{% set i_e = rect_lis[2] %}
			
			{% set rect_shape = {
				'type': "rect",
				'x0': i_s,
				'x1': i_e,
				'y0': -5,
				'y1': 5,
				'line': {'color': "transparent"},
				'fillcolor': "rgba(245, 227, 86, 0.4"}
			%}
			
			{% set _ = rect_shape_lis.append(rect_shape) %}
		{% endfor %}

		// 이상발생
		{% set line_shape_lis = [] %}

		{% for rul in line_lis %}
			
			{% set line_shape = {
				'type': 'line',
				'x0': rul,
				'x1': rul,
				'y0': -5,
				'y1': 5,
				'line': {
					'color': 'red',
					'width': 2,
					'dash': 'dash'}
				}
			%}
			
			{% set _ = line_shape_lis.append(line_shape) %}
		{% endfor %}
		
		// Plotly
		{% for i in range(1, 11) %}
			{% set chart_data = dic['chart' ~ i] %}
			
			var items = {{ chart_data | tojson | safe }};
			
			// 데이터 가공
			var labels = items.map(function(item) {
				return item.time; // 날짜 데이터를 x축 레이블로 사용
			});
		
			var values = items.map(function(item) {
				return item.col; // 데이터 값
			});
		
			var trace = {
				x: labels,
				y: values,
				mode: 'lines+markers',
				type: 'scatter',
				name: 'Data Series',
				line: {color: 'rgb(75, 192, 192)'}
			};
			
			var data = [trace];
		
			var layout = {
				xaxis: {
					range: [{{xlim_s}}, {{xlim_e}}] // row_num
				},
				yaxis: {
				},
				height: 300,
				weight: 400,
				margin: {
					l: 20, // 왼쪽 여백
					r: 20, // 오른쪽 여백
					t: 20, // 상단 여백
					b: 40  // 하단 여백
				},
				shapes: [
					{% for shape2 in line_shape_lis %}
					  {{ shape2 | tojson | safe }},
					{% endfor %}
					,
					{% for shape in rect_shape_lis %}
					  {{ shape | tojson | safe }},
					{% endfor %}
				]
			};
			
			// 각 그래프를 고유한 ID로 생성
			var chartId = 'demo-chart' + {{ i }};
			Plotly.newPlot(chartId, data, layout);
		{% endfor %}

	});
	</script>
</body>

</html>
