<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard3</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

     
</head>
<body>

        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div>
                <iframe src="http://13.124.155.170:3000/d/c73b9299-46aa-46e6-a7bd-0aee5578c145/dashboard-3?orgId=1&refresh=auto&theme=light&kiosk" width="100%" height="600" frameborder="0"></iframe>
            </div>
            <!-- END MAIN CONTENT -->
        </div>

    </div>
    <!-- END WRAPPER -->



</body>
</html>
