<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard4</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

     
</head>
<body>

        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div>
                <iframe src="http://13.124.155.170:3000/d/b8fc9da0-207a-4e32-aebe-512647c616ab/aaad6a02-3889-5661-acfc-1b93c9d4019f?orgId=1&refresh=5s&theme=light&kiosk" width="100%" height="600" frameborder="0"></iframe>       
            </div>
            <!-- END MAIN CONTENT -->
        </div>

    </div>
    <!-- END WRAPPER -->



</body>
</html>
